[submodule "chrome-extension"]
	path = chrome-extension
	url = git@github.com:DafitiSprint/NOOB-Chrome-Extension.git
	branch = master
[submodule "python-server"]
	path = python-server
	url = git@github.com:DafitiSprint/NOOB-Python-Server.git
	branch = master
[submodule "node-server"]
	path = node-server
	url = git@github.com:DafitiSprint/NOOB-Node-Server.git
	branch = master
[submodule "siren"]
    path = siren
    url = git@github.com:DafitiSprint/NOOB-Siren.git
	branch = master
